<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../css/skin.css" rel="stylesheet" />
    <script src="../scripts/require/require.js" type="text/javascript"></script>
    <script src="../scripts/requestconfig.js" type="text/javascript"></script>
    <script src="../scripts/public.js"></script>
    <script type="text/javascript">
        require(['avalon', 'jquery'], function (avalon, $) {
            avalon.config({ log: true });
            var vm = avalon.define(
                  {
                      $id: 'test',
                      FlowInstanceId: 19,
                      FlowInstanceName: "",
                      TemplateId: 1,
                      TemplateName: "装备维修流程",
                      ApproveUserId: 1,
                      ApproveTime: "2015-06-13T08:43:45.793",
                      Status: 0,
                      CurrentStepInstanceId: 104,
                      CurrentStepInstance: null,
                      StepInstanceList: [],
                      Date:
                          {
                              EquipmentRepairId: 8,
                              FlowInstanceId: 14,
                              equipmentid: 11,
                              equipmentname: "长波电台",
                              associateTime: "",
                              associateLoc: "石景山区",
                              associateLog: "",
                              attachLog: "",
                              docLog: "",

                              preRepairLevel: 0,
                              preRepairTime: "",
                              createTime: "",
                              inputFactoryTime: "",
                              userLog: "",
                              repairAdvice: "",
                              inquestUnit: "",
                              inquestUser: "",
                              repairRequire: "",
                              repairMakeLevel: 0,
                              makeLevelReason: "",

                              checkTask: "",
                              kpi: "",
                              checkLoc: "",
                              checkMethod: "",

                              armyCheck: "",
                              armyResult: "",

                              equipmentResult: "",
                              armyManResult: "",

                              equipmentConsignLog: "",
                              attachConsignLog: "",
                              docConsignLog: ""
                          },
                      outmsg: "",//输出信息
                      stepSubmit: function (step) {
                          $.ajax(
  {
      url: '/route/libraryhandler.ashx',
      method: 'POST',
      data:
          {
              c: 'flow',
              m: 'submitstep',
              p: { instance: step, data: vm.data }
          },
      success: function (output) {
          vm.outmsg = output;
          console.log(output);
      }
  }
                              );
                      },
                      stepReback: function (func) {
                          $.ajax(
                            {
                                url: '/route/libraryhandler.ashx',
                                method: 'POST',
                                data:
                                    {
                                        c: 'flow',
                                        m: 'rebackstep',
                                        p: { instance: step, data: vm.data }
                                    },
                                success: function (output) {
                                    vm.outmsg = output;
                                    console.log(output);
                                }
                            }
                              );
                      }
                  }
              );
            //打开流程
            function LoadFlow(flowid) {
                $.ajax(
                    {
                        url: '/route/libraryhandler.ashx',
                        method: 'POST',
                        data:
                        {
                            c: 'flow',
                            m: 'openprocessinstance',
                            p: flowid
                        },
                        success: function (output) {
                            var data = getResult(output);
                            console.log(vm);
                            vm.TemplateName = "kaka";//data.Result.flowInstance.TemplateName;
                            vm.StepInstanceList[0].equipmentname = "hehe";
                            //vm = data.Result.flowInstance;
                            vm.StepInstanceList = data.Result.flowInstance.StepInstanceList;
                            vm.StepInstanceList.forEach(
                                function (d) {
                                    if (d.stepid != vm.CurrentStepInstanceId) {
                                        d.iscurrent = "readonly";
                                    }
                                }
                                );
                            console.log("hehe");
                            console.log(vm);
                            avalon.scan();
                        }
                    });
            }
            $(document).ready(
            function () {
                var flowid = getQueryStringByName("id");
                LoadFlow(flowid);
            }
                );
        }

        );

    </script>
    <title></title>
    <style type="text/css">
        .auto-style1 {
            height: 24px;
            width: 101px;
        }

        .auto-style2 {
            height: 48px;
        }
    </style>
</head>
<body>
    <div ms-controller="test">
        <table style="width: 864px" border="1">
            <tr>
                <td align="center" colspan="4" style="width: 864px; height: 48px">
                    <span></span>
                    <span font-bold="True" font-size="18px"
                        font-strikeout="False" font-underline="True">{{TemplateName}}</span>
                </td>
            </tr>
            <tr>
                <td class="auto-style1">装备名称:</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.equipmentname" ms-attr-readonly="StepInstanceList[0].iscurrent" /></td>
                <td style="width: 88px; height: 24px">装备编号：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.equipmentid" ms-attr-readonly="StepInstanceList[0].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style1">交接时间：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.associateTime" ms-attr-readonly="StepInstanceList[0].iscurrent" /></td>
                <td style="width: 88px; height: 24px">交接地点：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.associateLoc" ms-attr-readonly="StepInstanceList[0].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">交接记录：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.associateLog" ms-attr-readonly="StepInstanceList[0].iscurrent" />
                </td>
            </tr>
            <tr>
                <td class="auto-style2">附件交接记录：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.attachLog" ms-attr-readonly="StepInstanceList[0].iscurrent" />
                </td>
            </tr>
            <tr>
                <td class="auto-style2">资料交接记录：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.docLog" ms-attr-readonly="StepInstanceList[0].iscurrent" />
                </td>
            </tr>
            <tr>
                <td class="auto-style2" colspan="4">
                    <div>
                        交装单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                    <div>
                        承修单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                    <div>
                        监修单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                    <input type="button" value="确定" ms-click="stepSubmit(vm.)" />
                </td>
            </tr>
        </table>
        <table style="width: 864px" border="1">
            <tr>
                <td valign="top" colspan="4" style="width: 864px">
                    <img alt="open" id="img_step1" style="width: 16px; height: 16px; cursor: hand" src="../images/close.png" onclick="Open_Step(1)" />
                    {{StepInstanceList[1].stepname}}</td>
            </tr>
            <tr>
                <td class="auto-style1">上次修理等级：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.preRepairLevel" ms-attr-readonly="StepInstanceList[1].iscurrent" />
                </td>
                <td style="width: 88px; height: 24px">上次修理时间：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.preRepairTime" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style1">生产日期：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.createTime" ms-attr-readonly="StepInstanceList[1].iscurrent" />
                </td>
                <td style="width: 88px; height: 24px">进场日期：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.inputFactoryTime" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">装备历次使用情况：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.userLog" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">修理等级建议：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.repairAdvice" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">勘验单位：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.inquestUnit" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">参加勘验人员：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.inquestUser" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">修理要求：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.repairRequire" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">本次修理定级：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.repairMakeLevel" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2">本次定级依据：</td>
                <td colspan="3" style="width: 784px; height: 48px">
                    <input ms-duplex="Date.makeLevelReason" ms-attr-readonly="StepInstanceList[1].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style2" colspan="4">
                    <div>
                        监修单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                    <div>
                        机关业务部门
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                </td>
            </tr>
        </table>
        <table style="width: 864px" border="1">
            <tr>
                <td valign="top" colspan="4" style="width: 864px">
                    <img alt="open" id="img1" style="width: 16px; height: 16px; cursor: hand" src="../images/close.png" onclick="Open_Step(1)" />
                    {{StepInstanceList[2].stepname}}</td>
            </tr>
            <tr>
                <td class="auto-style1">交验项目：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.checkTask" ms-attr-readonly="StepInstanceList[2].iscurrent" />
                </td>
                <td style="width: 88px; height: 24px">指标要求：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.kpi" ms-attr-readonly="StepInstanceList[2].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style1">交验地点：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.checkLoc" ms-attr-readonly="StepInstanceList[2].iscurrent" />
                </td>
                <td style="width: 88px; height: 24px">交验方式：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.checkMethod" ms-attr-readonly="StepInstanceList[2].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style1">校验人：</td>
                <td>
                    <div>
                        监修单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                </td>
            </tr>
        </table>
        <table style="width: 864px" border="1">
            <tr>
                <td valign="top" colspan="4" style="width: 864px">
                    <img alt="open" id="img2" style="width: 16px; height: 16px; cursor: hand" src="../images/close.png" onclick="Open_Step(1)" />
                    {{StepInstanceList[3].stepname}}</td>
            </tr>
            <tr>
                <td class="auto-style1">军检纪要：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.armyCheck" ms-attr-readonly="StepInstanceList[3].iscurrent" />
                </td>
                <td style="width: 88px; height: 24px">军检结论：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.armyResult" ms-attr-readonly="StepInstanceList[3].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style1">军代表：</td>
                <td>
                    <div>
                        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                </td>
            </tr>
        </table>
        <table style="width: 864px" border="1">
            <tr>
                <td valign="top" colspan="4" style="width: 864px">
                    <img alt="open" id="img3" style="width: 16px; height: 16px; cursor: hand" src="../images/close.png" onclick="Open_Step(1)" />
                    {{StepInstanceList[4].stepname}}</td>
            </tr>
            <tr>
                <td class="auto-style1">单位验收结论：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.equipmentResult" ms-attr-readonly="StepInstanceList[4].iscurrent" />
                </td>
                <td style="width: 88px; height: 24px">军代表验收结论：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.armyManResult" ms-attr-readonly="StepInstanceList[4].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style1">军代表：</td>
                <td>
                    <div>
                        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                </td>
            </tr>
        </table>
        <table style="width: 864px" border="1">
            <tr>
                <td valign="top" colspan="4" style="width: 864px">
                    <img alt="open" id="img4" style="width: 16px; height: 16px; cursor: hand" src="../images/close.png" onclick="Open_Step(1)" />
                    {{StepInstanceList[5].stepname}}</td>
            </tr>
            <tr>
                <td class="auto-style1">装备交接记录：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.equipmentConsignLog" ms-attr-readonly="StepInstanceList[5].iscurrent" />
                </td>
                <td style="width: 88px; height: 24px">附件交接记录：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.attachConsignLog" ms-attr-readonly="StepInstanceList[5].iscurrent" /></td>
            </tr>
            <tr>
                <td class="auto-style1">资料交接记录：</td>
                <td style="width: 128px; height: 24px">
                    <input ms-duplex="Date.docConsignLog" ms-attr-readonly="StepInstanceList[5].iscurrent" /></td>
                <td style="width: 88px; height: 24px">&nbsp;</td>
                <td style="width: 128px; height: 24px">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style2" colspan="4">
                    <div>
                        交装单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                    <div>
                        承修单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                    <div>
                        监修单位经办人
        <input checked="true" name="R1" type="radio" value="0" />同意
        <input checked="false" name="R1" type="radio" value="1" />驳回
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
